In [1]:
import pyreadstat

In [2]:
df, meta = pyreadstat.read_sav('pew_global_attitudes_2022.sav')

In [3]:
df.shape

(20944, 351)

In [4]:
df.columns[320:350]

Index(['d_working_cell', 'd_hhcell', 'region_australia', 'region_belgium',
       'region_canada', 'region_france', 'region_germany', 'region_greece',
       'region_hungary', 'stratum_hun', 'psu_hun', 'urbanicity',
       'region_israel', 'reg_eth_israel', 'stratum_isr', 'psu_isr',
       'region_italy', 'region_japan', 'region_malaysia', 'region_netherlands',
       'region_poland', 'stratum_pol', 'psu_pol', 'region_singapore',
       'region_korea', 'region_spain', 'region_sweden', 'region_uk', 'qdate_s',
       'qdate_e'],
      dtype='object')

In [5]:
df.head()

,survey,country,weight,id,econ_sit,children_betteroff2,satisfied_democracy,tradition_change,fav_us,fav_china,...,stratum_pol,psu_pol,region_singapore,region_korea,region_spain,region_sweden,region_uk,qdate_s,qdate_e,phone_sample
0,1202202.0,2.0,2.359064,65013438.0,2.0,2.0,2.0,1.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-03-28,2022-03-28,1.0
1,1202202.0,2.0,0.841538,65023887.0,2.0,2.0,3.0,1.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-28,2022-04-28,1.0
2,1202202.0,2.0,1.365639,65102073.0,2.0,2.0,1.0,2.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-22,2022-04-22,2.0
3,1202202.0,2.0,0.654529,65090528.0,4.0,2.0,4.0,1.0,8.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-07,2022-04-07,2.0
4,1202202.0,2.0,0.701061,65116743.0,3.0,2.0,2.0,1.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-15,2022-04-15,2.0

In [12]:
meta.column_labels[330:]

['PSU',
 'Urbanicity',
 'Region',
 'Region is majority Jewish or majority Arab',
 'Stratum',
 'PSU',
 'Region',
 'Region',
 'Region',
 'Region',
 'Region',
 'Stratum',
 'PSU',
 'Region',
 'Region',
 'Region',
 'Region',
 'Region',
 'START date of interview (DD/MM/YYYY):',
 'END date of interview (DD/MM/YYYY):',
 'T.Sample. SAMPLE SOURCE TELEPHONE']